body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

header {
  background-color: black;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
}

.search-row {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.search-row input {
  flex: 1;
  padding: 12px;
  border-radius: 5px;
}

.button-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 0 20px 20px;
}

button {
  padding: 10px 16px;
  background: black;
  color: white;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  background: #eee;
  color: black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #999;
  text-align: center;
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.name-cell img {
  width: 40px;
  border-radius: 50%;
}
